/* popup.css */

.popup-box {
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f8f9fa;
  text-align: center;
  position: relative; /* Needed for close button positioning */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

header img {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

header h1 {
  font-size: 1.5rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.concern-item {
  text-align: left;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #dc3545; /* Bootstrap danger color */
}

.card-text {
  font-size: 0.9rem;
  color: #212529;
}

#overview-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

#filter-sort-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#concerns-container {
  margin-top: 20px;
}

.concern-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.critical {
  background-color: #ffe6e6;
  border-color: #ff4d4d;
}

.moderate {
  background-color: #fff5cc;
  border-color: #ffcc00;
}

.data-collection, .user-rights {
  background-color: #e6f7ff;
  border-color: #91d5ff;
}
